<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuzhang.seckill.db.mappers.SeckillActivityMapper">
  <resultMap id="BaseResultMap" type="com.jiuzhang.seckill.db.po.SeckillActivity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
    <result column="seckill_price" jdbcType="NUMERIC" property="seckillPrice" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="total_stock" jdbcType="BIGINT" property="totalStock" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, commodity_id, seckill_price, start_time, end_time, total_stock
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seckill_activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from seckill_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jiuzhang.seckill.db.po.SeckillActivity">
    insert into seckill_activity (id, name, commodity_id, 
      seckill_price, start_time, end_time, 
      total_stock)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{commodityId,jdbcType=BIGINT}, 
      #{seckillPrice,jdbcType=NUMERIC}, #{startTime,jdbcType=DATE}, #{endTime,jdbcType=DATE}, 
      #{totalStock,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jiuzhang.seckill.db.po.SeckillActivity">
    insert into seckill_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="seckillPrice != null">
        seckill_price,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="totalStock != null">
        total_stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="seckillPrice != null">
        #{seckillPrice,jdbcType=NUMERIC},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=DATE},
      </if>
      <if test="totalStock != null">
        #{totalStock,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jiuzhang.seckill.db.po.SeckillActivity">
    update seckill_activity
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="seckillPrice != null">
        seckill_price = #{seckillPrice,jdbcType=NUMERIC},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=DATE},
      </if>
      <if test="totalStock != null">
        total_stock = #{totalStock,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jiuzhang.seckill.db.po.SeckillActivity">
    update seckill_activity
    set name = #{name,jdbcType=VARCHAR},
      commodity_id = #{commodityId,jdbcType=BIGINT},
      seckill_price = #{seckillPrice,jdbcType=NUMERIC},
      start_time = #{startTime,jdbcType=DATE},
      end_time = #{endTime,jdbcType=DATE},
      total_stock = #{totalStock,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>